ul li:hover {
    display: block;
    color: black;
    background-color: #e4e6e8;
}
.root{
    margin: 50px;
}
.navi{
    text-align: center;
    align-items: center;
    background-color: rgb(217, 226, 226);
}

.ft{
    text-align: center;
    align-items: center;
}

.alltasks{
    padding-left: 50px;
    text-align: center;
    align-items: center;
}
.but{
    background-color: rgb(245, 0, 0);
}
.but:hover{
    background-color: #fff;
}
/* .taskhome{
    margin: 20px;
    text-align: center;
} */
/* .card{
    margin: 20px;
} */